@using LogisticWeb.Common
@model List<ModelHelper.Report.FGStock>
@{
    ViewBag.Title = "LamipelVN | Import File Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var User = LogisticWeb.Common.LoginUser.Current;
}
<div class="page-container">

    <!-- BEGIN SIDEBAR -->

    @Html.Action("MenuSiteBar", "Common")

    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb sitemap"></ul>
                    @*<ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="/">Home</a>
                                <i class="icon-angle-right"></i>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Pallet</a>
                                <i class="icon-angle-right"></i>
                            </li>
                        </ul>*@
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">
                <div class="span12">
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption" style="font-weight: bold; text-decoration: underline;"><i class="icon-globe"></i>SEMI-FG STOCK</div>
                        </div>
                        <div class="portlet-body">
                            <div class="row-fluid row-fluid-auto">
                                <table class='table table-striped table-bordered table-hover'>
                                    <thead>
                                        <tr>
                                            <td>SELECTION</td>
                                            <td>CREATE DATE</td>
                                            <td>RESA</td>
                                            <td>PALLET</td>
                                            <td>PCS</td>
                                            <td>NW</td>
                                            <td>GW</td>
                                            <td>SQFT</td>
                                            <td>AVG</td>
                                            <td>SAVG</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model != null)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.SELECTIONFULL</td>
                                                        <td>@item.CREATEDDATE.FormatDate()</td>
                                                        <td>@item.RESACODE</td>
                                                        <td>@item.NAME</td>
                                                        <td>@item.PCS.FormatDecimal()</td>
                                                        <td>@item.NW.FormatDecimal()</td>
                                                        <td>@item.GW.FormatDecimal()</td>
                                                        <td>@item.SQFT.FormatDecimal()</td>
                                                        <td>@item.WAVG.FormatDecimal()</td>
                                                        <td>@item.SAVG.FormatDecimal()</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>

@section styles{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="/Content/assets/plugins/select2/select2_metro.css" />
    <link rel="stylesheet" href="/Content/assets/plugins/data-tables/DT_bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <style>
        table {
            font-size: 9px !important;
        }

            table th {
                font-size: 13px !important;
            }

            table tbody tr td {
                font-size: 12px !important;
            }

                table tbody tr td.paidstyles {
                    font-weight: bold;
                    background-color: #e4f3f5 !important;
                }

        .table td, .table td input, .table td select {
            font-size: 12px !important;
        }

        .table th, .table td {
            padding: 2px 8px !important;
        }

        .table th {
            font-size: 13px !important;
        }

        .table td, .table td input, .table td select {
            font-size: 12px !important;
        }
    </style>
}

@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/Content/assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Content/assets/plugins/data-tables/DT_bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/Content/assets/scripts/app.js"></script>
    <script src="~/Scripts/Common/customselect.js"></script>
    <script src="~/Scripts/Common/customtable.js"></script>
    <script src="~/Scripts/business/contract.js"></script>
    <script type="text/javascript">

    </script>
}
